In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
iris=pd.read_csv('iris.csv')

In [3]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
X=iris.iloc[:,:-1]
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [5]:
y = iris.iloc[:,-1]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [6]:
from sklearn import preprocessing
X =preprocessing.StandardScaler().fit_transform(X)

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

In [11]:
k_range = list(range(1,31))
weight_options = ["uniform", "distance"]
metric_K = ["euclidean","manhattan"]
param_grid = dict(n_neighbors = k_range, weights = weight_options, metric = metric_K)

In [12]:
knn = KNeighborsClassifier()

In [14]:
grid = GridSearchCV(knn, param_grid, cv = 8,verbose = 1, n_jobs = -1)
grid.fit(X,y)

Fitting 8 folds for each of 120 candidates, totalling 960 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  59 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 960 out of 960 | elapsed:    6.2s finished

GridSearchCV(cv=8, estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'metric': ['euclidean', 'manhattan'],
                         'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                         13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                                         23, 24, 25, 26, 27, 28, 29, 30],
                         'weights': ['uniform', 'distance']},
             verbose=1)

In [15]:
print (grid.best_score_)
print (grid.best_params_)
print (grid.best_estimator_)

0.993421052631579
{'metric': 'euclidean', 'n_neighbors': 3, 'weights': 'uniform'}
KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [17]:
knn = KNeighborsClassifier(n_neighbors = 7)
knn.fit(X_train,y_train)
ypredict = knn.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,ypredict)
acc

1.0

In [19]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,ypredict)
cm

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  6]], dtype=int64)

In [21]:
cm1 = pd.DataFrame(data=cm,index=['setosa','Versicolor','virginica'],columns=['setosa','versicolor','virginica'])
cm1

            setosa  versicolor  virginica
setosa          11           0          0
Versicolor       0          13          0
virginica        0           0          6