In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('regression_train.csv')

In [3]:
df.head()

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,output
0,8,279,C,14.451155,1139.0,1.0,9.302908,1.0,M,p,86.108947
1,1,108,H,14.207448,1656.0,1.0,7.220130,0.0,M,p,42.606833
2,8,258,A,19.220830,2817.0,1.0,8.727214,1.0,M,p,85.625961
3,4,147,A,15.752732,1948.0,1.0,6.078818,1.0,M,p,53.656277
4,5,230,H,10.195407,1336.0,1.0,4.749185,0.0,M,p,64.925051

In [4]:
df.dtypes

data1       int64
data2       int64
data3      object
data4     float64
data5     float64
data6     float64
data7     float64
data8     float64
data9      object
data10     object
output    float64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data1   10000 non-null  int64
 1   data2   10000 non-null  int64
 2   data3   10000 non-null  object
 3   data4   10000 non-null  float64
 4   data5   9999 non-null   float64
 5   data6   9997 non-null   float64
 6   data7   9998 non-null   float64
 7   data8   9999 non-null   float64
 8   data9   9999 non-null   object
 9   data10  9999 non-null   object
 10  output  9999 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 859.5+ KB

In [6]:
df.corr()

,data1,data2,data4,data5,data6,data7,data8,output
data1,1.000000,0.008599,0.007328,-0.022778,-0.002956,-0.000363,-0.008360,0.185539
data2,0.008599,1.000000,0.019033,0.017336,0.010093,-0.013163,0.013472,0.867936
data4,0.007328,0.019033,1.000000,0.006345,0.000550,0.018227,-0.003273,0.406100
data5,-0.022778,0.017336,0.006345,1.000000,0.005740,0.009472,0.009289,0.015307
data6,-0.002956,0.010093,0.000550,0.005740,1.000000,-0.020063,-0.001605,-0.009857
data7,-0.000363,-0.013163,0.018227,0.009472,-0.020063,1.000000,-0.009359,0.212560
data8,-0.008360,0.013472,-0.003273,0.009289,-0.001605,-0.009359,1.000000,0.008142
output,0.185539,0.867936,0.406100,0.015307,-0.009857,0.212560,0.008142,1.000000

In [7]:
corr=df.corr()
corr.sort_values(['output'], ascending = False, inplace = True)
df2= pd.DataFrame(corr.output)
df2

          output
output  1.000000
data2   0.867936
data4   0.406100
data7   0.212560
data1   0.185539
data5   0.015307
data8   0.008142
data6  -0.009857

In [8]:
droplist=['data10','data3']
df.drop(droplist,axis=1,inplace=True)

In [9]:
df.head()

   data1  data2      data4   data5  data6     data7  data8 data9     output
0      8    279  14.451155  1139.0    1.0  9.302908    1.0     M  86.108947
1      1    108  14.207448  1656.0    1.0  7.220130    0.0     M  42.606833
2      8    258  19.220830  2817.0    1.0  8.727214    1.0     M  85.625961
3      4    147  15.752732  1948.0    1.0  6.078818    1.0     M  53.656277
4      5    230  10.195407  1336.0    1.0  4.749185    0.0     M  64.925051

In [10]:
df = pd.get_dummies(df,drop_first= True)

In [11]:
df.head()

   data1  data2      data4   data5  data6     data7  data8     output  data9_M
0      8    279  14.451155  1139.0    1.0  9.302908    1.0  86.108947        1
1      1    108  14.207448  1656.0    1.0  7.220130    0.0  42.606833        1
2      8    258  19.220830  2817.0    1.0  8.727214    1.0  85.625961        1
3      4    147  15.752732  1948.0    1.0  6.078818    1.0  53.656277        1
4      5    230  10.195407  1336.0    1.0  4.749185    0.0  64.925051        1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data1    10000 non-null  int64
 1   data2    10000 non-null  int64
 2   data4    10000 non-null  float64
 3   data5    9999 non-null   float64
 4   data6    9997 non-null   float64
 5   data7    9998 non-null   float64
 6   data8    9999 non-null   float64
 7   output   9999 non-null   float64
 8   data9_M  10000 non-null  uint8
dtypes: float64(6), int64(2), uint8(1)
memory usage: 634.9 KB

In [13]:
df['data5'].fillna(df['data5'].median(), inplace=True)
df['data7'].fillna(df['data7'].median(), inplace=True)
df['data8'].fillna(df['data8'].median(), inplace=True)
df['output'].fillna(df['output'].median(), inplace=True)
df['data6'].fillna(df['data6'].median(), inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data1    10000 non-null  int64
 1   data2    10000 non-null  int64
 2   data4    10000 non-null  float64
 3   data5    10000 non-null  float64
 4   data6    10000 non-null  float64
 5   data7    10000 non-null  float64
 6   data8    10000 non-null  float64
 7   output   10000 non-null  float64
 8   data9_M  10000 non-null  uint8
dtypes: float64(6), int64(2), uint8(1)
memory usage: 634.9 KB

In [15]:
X= df.drop('output',axis=1)
Y = df.loc[:,['output']].values
Y.shape

(10000, 1)

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
X.shape

(10000, 8)

In [17]:
Y = Y.reshape(-1)
Y.shape

(10000,)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.30,random_state=0)

In [19]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression() 
reg = lr.fit(X_train, y_train)

In [20]:
y_pred = reg.predict(X_test)

In [21]:
from sklearn.metrics import mean_squared_error, r2_score
print('Mean squared error: %.2f'
      % mean_squared_error(y_test,y_pred))
print('Coefficient of determination: %.2f'
      % r2_score(y_test, y_pred))
R2= r2_score(y_test, y_pred)

Mean squared error: 14.02
Coefficient of determination: 0.92